<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @memory.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @memory.description %>
</p>

<p>
  <strong>Private:</strong>
  <%= @memory.private %>
</p>

<p>
  <strong>About:</strong>
  <%= @memory.about %>
</p>

<%= link_to 'Edit', edit_memory_path(@memory) %> |
<%= link_to 'Back', memories_path %>
