<h1>Listing lovers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Secret answer</th>
      <th>Secret question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @lover.name %></td>
      <td><%= @lover.secret_answer %></td>
      <td><%= @lover.secret_question %></td>
      <td><%= link_to 'Show', @lover %></td>
      <td><%= link_to 'Edit', edit_lover_path(@lover) %></td>
    </tr>
    <% if @lover.partner.name.nil? %>
      <tr>
        <td>No Partner</td>
        <td></td>
        <td></td>
        <td><%= link_to 'Invite', lover_invite_path(@lover) %></td>
      </tr>
    <% else %>
      <tr>
        <td><%= @lover.partner.name %></td>
        <td><%= @lover.partner.secret_answer %></td>
        <td><%= @lover.partner.secret_question %></td>
        <td><%= link_to 'Show', lover_path(@lover.partner) %></td>
        <td><%= link_to 'Seperate', lover_seperate_partners_path(@lover.partner) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
